<a href="https://colab.research.google.com/github/zainnabtarrek/SQL-Python-Data-Analysis-/blob/main/sales_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.31)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=b053493fc450bf06cb762cd69ecdb0288ef58a37ea8464dee27be0acaab318bc
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandasql as ps
import sklearn

In [12]:
url="https://raw.githubusercontent.com/intern2grow/sales-data-analysis/main/sales_data.csv"
data=pd.read_csv(url)
data.head()

         date     product     category   price  quantity  revenue
0  2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1  2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2  2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3  2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4  2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0

What was the total revenue generated by the company over the course of the year?

In [14]:
query="""
SELECT SUM(revenue) AS total_revenue
FROM data
"""
totalrevenue=ps.sqldf(query, locals())
print(totalrevenue)

   total_revenue
0       758330.0

Which product had the highest revenue? How much revenue did it generate?

In [15]:
query="""
select product,sum(revenue)
from data
group by product
order by revenue desc
LIMIT 1


"""

maxrevenue=ps.sqldf(query, locals())
print(maxrevenue)

      product  sum(revenue)
0  Smartphone      434400.0

What was the average price of a product sold by the company?

In [ ]:
query="""
select product,AVG(price)
from data
group by product

"""

minrevenue=ps.sqldf(query, locals())
print(minrevenue)

What was the total quantity of products sold by the company?

In [16]:
query="""
select product,sum(quantity)
from data
group by product

"""
minrevenue=ps.sqldf(query, locals())
print(minrevenue)

       product  sum(quantity)
0     Backpack          408.0
1         Coat          338.0
2   Headphones          180.0
3       Hoodie          525.0
4        Jeans          413.0
5       Laptop            5.0
6   Smartphone          713.0
7   Smartwatch          304.0
8     Sneakers          270.0
9      Speaker          496.0
10     T-Shirt         1005.0
11      Tablet           45.0
12      Wallet          440.0
13       Watch          218.0

Which category had the highest revenue? How much revenue did it generate?

In [18]:
query="""
select category,sum(revenue)
from data
group by category
order by revenue desc


"""
minrevenue=ps.sqldf(query, locals())
print(minrevenue)

      category  sum(revenue)
0  Electronics      516080.0
1  Accessories      104700.0
2     Clohting        1200.0
3     Clothing       94350.0
4         Bags       19500.0
5      Shoeses         960.0
6         Bgas         900.0
7        Shoes       20640.0

What was the average revenue per sale?

In [28]:
query="""
select date,avg(revenue)
from data
GROUP BY date

"""
minrevenue=ps.sqldf(query, locals())
print(minrevenue)

           date  avg(revenue)
0    2022-01-01        6000.0
1    2022-01-02        1000.0
2    2022-01-03        2000.0
3    2022-01-04         500.0
4    2022-01-05        1500.0
..          ...           ...
360  2022-12-27         750.0
361  2022-12-28         500.0
362  2022-12-29        1000.0
363  2022-12-30        6600.0
364  2022-12-31        1200.0

[365 rows x 2 columns]

What was the total revenue generated in each quarter of the year? (i.e. Q1, Q2, Q3, Q4)

In [32]:
query = """
SELECT strftime('%Y', date) || '-Q' || strftime('%m', date) AS quarter,
       SUM(revenue) AS total_revenue
FROM data
GROUP BY quarter
"""


quarterly_revenue = ps.sqldf(query, locals())


print(quarterly_revenue)

     quarter  total_revenue
0   2022-Q01        65800.0
1   2022-Q02        53740.0
2   2022-Q03        62560.0
3   2022-Q04        55800.0
4   2022-Q05        69510.0
5   2022-Q06        58660.0
6   2022-Q07        69510.0
7   2022-Q08        65260.0
8   2022-Q09        62910.0
9   2022-Q10        66460.0
10  2022-Q11        64110.0
11  2022-Q12        64010.0